body {
  margin: 0;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  /* background-image: url("https://e0.pxfuel.com/wallpapers/208/146/desktop-wallpaper-car-brand-logos-and-names-list-list-sports-car-brands-thumbnail.jpg"); */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.app-header {
  background-color: black;
  color: azure;
  /* margin-top: -0.6cm;
  margin-bottom: -0.6cm; */
  padding: 1px;
  border: 1px;
  
}

.app-header h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #f8f7f7;
  font-weight: 700;
  text-decoration: underline solid rgb(241, 218, 6);
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
}

.nav-bar {
  background-color: black;
  border:1px; 
  padding:1px;
  
}

.nav-bar h3 {
  text-align: right;
  color:  rgb(241, 218, 6);
  text-shadow: 5px 5px 10px  rgb(241, 218, 6);
}

.dealers-link, .cars-link {
  text-align: center;
}

.buttons-logs {
  text-align: right;
 word-spacing: 5px;
 margin: 0 10px 10px;
 
}

.login, .signup {
  background-color: black;
  color: white;
  width: 220px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.login, .signup h1 {
  text-align: center; 
}

.new-dealer-form, .new-car-form {
  color: white;
  width: 300px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}


.dealer-container { 
  color:white;
  margin: 0px;
  padding: 1px;
  border:1px;
}
.dealer-card {
  text-align: center;
  color: beige;
  border: white solid 1px;
  padding: 1rem;
  width: 7cm;
  height: 7cm;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px 20px rgb(241, 218, 6);
}

.dealer-logo {
  justify-self: center;
  height: 3cm;
  width: auto;
}

.car-container {
  color:white;
  margin: 3px;
  padding: 3px;
  border:3px;
}

.car-card{
  color: beige;
  border: white solid 1px;
  padding: 1rem;
  width: 7cm;
  height: auto;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px 20px rgb(241, 218, 6);
}

.car-card button {
  font-family: Impact, Charcoal, sans-serif;
  background-color: rgb(241, 218, 6);
  border: rgb(241, 218, 6) 1px;
  box-shadow:  3px 4px 20px rgb(241, 218, 6);
  margin: 0 25px 10px;
  color: black;
  width: 70px;
  height: auto;
}
.car-image { 
  text-align: center;
  height: 3cm;
  width: auto;
}

.car-info{
 text-align: left;
}

.update-car-form {
  color: white;
  width: 200px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.car-owner {
  font-weight:bold;
  font-size: smaller;
  text-align: right;
  color:rgb(241, 218, 6);
}









